@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}

body {
  font-family: "?????",YuGothic,"Helvetica","?????? ProN W3", "Hiragino Kaku Gothic ProN", "????", Meiryo, "Helvetica Neue", Arial, sans-serif;
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;

  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

button, input, select, textarea {
  min-height: 1.5em;
  background-color: transparent;
}

input[type="submit"], input[type="reset"] {
  cursor: pointer;
}

.fb_iframe_widget > span {
  vertical-align: top !important;
}

@-webkit-keyframes hudFlash {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
  }
  to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
  }
}

@keyframes hudFlash {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
  }
  to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
  }
}

@-webkit-keyframes hudFlash2 {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    opacity: .8;
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    opacity: .6;
  }
  to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    opacity: .8;
  }
}

@keyframes hudFlash2 {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    opacity: .8;
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    opacity: .6;
  }
  to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    opacity: .8;
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes alpha {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    opacity: .7;
  }
}

@-webkit-keyframes alpha {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    opacity: .7;
  }
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  width: 100%;
  font-size: 14px;
  font-size: 14px;
  font-size: 1.4rem;

  -webkit-text-size-adjust: 100%;
}

body > iframe {
  display: none;
}

.wrapper {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  position: relative;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.pp {
  -webkit-animation: hudFlash2 .5s cubic-bezier(.47, 0, .745, .715) infinite normal;
          animation: hudFlash2 .5s cubic-bezier(.47, 0, .745, .715) infinite normal;
}

@keyframes petal1 {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5;
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
            transform: rotate3d(1, 1, 1, 0deg);
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    opacity: .9;
    -webkit-transform: rotate3d(-1, 1, 1, 40deg);
            transform: rotate3d(-1, 1, 1, 40deg);
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5;
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
            transform: rotate3d(1, 1, 1, 0deg);
  }
}

@-webkit-keyframes petal1 {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5;
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
            transform: rotate3d(1, 1, 1, 0deg);
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    opacity: .9;
    -webkit-transform: rotate3d(-1, 1, 1, 40deg);
            transform: rotate3d(-1, 1, 1, 40deg);
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5;
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
            transform: rotate3d(1, 1, 1, 0deg);
  }
}

@keyframes petal2 {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5;
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
            transform: rotate3d(1, 1, 1, 0deg);
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    opacity: .9;
    -webkit-transform: rotate3d(1, 1, 1, 100deg);
            transform: rotate3d(1, 1, 1, 100deg);
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5;
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
            transform: rotate3d(1, 1, 1, 0deg);
  }
}

@-webkit-keyframes petal2 {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5;
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
            transform: rotate3d(1, 1, 1, 0deg);
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    opacity: .9;
    -webkit-transform: rotate3d(1, 1, 1, 100deg);
            transform: rotate3d(1, 1, 1, 100deg);
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5;
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
            transform: rotate3d(1, 1, 1, 0deg);
  }
}

@keyframes petal3 {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5;
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
            transform: rotate3d(1, 1, 1, 0deg);
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    opacity: .9;
    -webkit-transform: rotate3d(1, 1, 1, -140deg);
            transform: rotate3d(1, 1, 1, -140deg);
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5;
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
            transform: rotate3d(1, 1, 1, 0deg);
  }
}

@-webkit-keyframes petal3 {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5;
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
            transform: rotate3d(1, 1, 1, 0deg);
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    opacity: .9;
    -webkit-transform: rotate3d(1, 1, 1, -140deg);
            transform: rotate3d(1, 1, 1, -140deg);
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5;
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
            transform: rotate3d(1, 1, 1, 0deg);
  }
}

@keyframes petal4 {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5;
    -webkit-transform: rotate3d(0, 1, 1, 0deg);
            transform: rotate3d(0, 1, 1, 0deg);
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    opacity: .9;
    -webkit-transform: rotate3d(0, 1, 1, 90deg);
            transform: rotate3d(0, 1, 1, 90deg);
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5;
    -webkit-transform: rotate3d(0, 1, 1, 0deg);
            transform: rotate3d(0, 1, 1, 0deg);
  }
}

@-webkit-keyframes petal4 {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5;
    -webkit-transform: rotate3d(0, 1, 1, 0deg);
            transform: rotate3d(0, 1, 1, 0deg);
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    opacity: .9;
    -webkit-transform: rotate3d(0, 1, 1, 90deg);
            transform: rotate3d(0, 1, 1, 90deg);
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5;
    -webkit-transform: rotate3d(0, 1, 1, 0deg);
            transform: rotate3d(0, 1, 1, 0deg);
  }
}

.bubbleArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bubble {
  position: absolute;
  bottom: -50px;
  left: 0%;
}

.bubble .item1 {
  display: block;
  position: relative;
  width: 39px;
  height: 47px;
  background: url("../img/common/particle/01.png");
  background-size: contain;
}

.bubble .item2 {
  display: block;
  position: relative;
  width: 33px;
  height: 38px;
  background: url("../img/common/particle/02.png");
  background-size: contain;
}

.bubble .item3 {
  display: block;
  position: relative;
  width: 38px;
  height: 49px;
  background: url("../img/common/particle/03.png");
  background-size: contain;
}

.bubble .item4 {
  display: block;
  position: relative;
  width: 25px;
  height: 28px;
  background: url("../img/common/particle/04.png");
  background-size: contain;
}

.move0 {
  animation: move 15s linear 0s infinite normal;

  -webkit-animation: move 15s linear 0s infinite normal;
}

.pos0 {
  left: 0%;
}

.scale0 {
  -ms-transform: scale(0);
      transform: scale(0);

  -webkit-transform: scale(0);
}

.move1 {
  animation: move 15.2s linear .2s infinite normal;

  -webkit-animation: move 15.2s linear .2s infinite normal;
}

.pos1 {
  left: 2%;
}

.scale1 {
  -ms-transform: scale(.1);
      transform: scale(.1);

  -webkit-transform: scale(.1);
}

.move2 {
  animation: move 15.4s linear .4s infinite normal;

  -webkit-animation: move 15.4s linear .4s infinite normal;
}

.pos2 {
  left: 4%;
}

.scale2 {
  -ms-transform: scale(.2);
      transform: scale(.2);

  -webkit-transform: scale(.2);
}

.move3 {
  animation: move 15.6s linear .6s infinite normal;

  -webkit-animation: move 15.6s linear .6s infinite normal;
}

.pos3 {
  left: 6%;
}

.scale3 {
  -ms-transform: scale(.3);
      transform: scale(.3);

  -webkit-transform: scale(.3);
}

.move4 {
  animation: move 15.8s linear .8s infinite normal;

  -webkit-animation: move 15.8s linear .8s infinite normal;
}

.pos4 {
  left: 8%;
}

.scale4 {
  -ms-transform: scale(.4);
      transform: scale(.4);

  -webkit-transform: scale(.4);
}

.move5 {
  animation: move 16s linear 1s infinite normal;

  -webkit-animation: move 16s linear 1s infinite normal;
}

.pos5 {
  left: 10%;
}

.scale5 {
  -ms-transform: scale(.5);
      transform: scale(.5);

  -webkit-transform: scale(.5);
}

.move6 {
  animation: move 16.2s linear 1.2s infinite normal;

  -webkit-animation: move 16.2s linear 1.2s infinite normal;
}

.pos6 {
  left: 12%;
}

.scale6 {
  -ms-transform: scale(.6);
      transform: scale(.6);

  -webkit-transform: scale(.6);
}

.move7 {
  animation: move 16.4s linear 1.4s infinite normal;

  -webkit-animation: move 16.4s linear 1.4s infinite normal;
}

.pos7 {
  left: 14%;
}

.scale7 {
  -ms-transform: scale(.7);
      transform: scale(.7);

  -webkit-transform: scale(.7);
}

.move8 {
  animation: move 16.6s linear 1.6s infinite normal;

  -webkit-animation: move 16.6s linear 1.6s infinite normal;
}

.pos8 {
  left: 16%;
}

.scale8 {
  -ms-transform: scale(.8);
      transform: scale(.8);

  -webkit-transform: scale(.8);
}

.move9 {
  animation: move 16.8s linear 1.8s infinite normal;

  -webkit-animation: move 16.8s linear 1.8s infinite normal;
}

.pos9 {
  left: 18%;
}

.scale9 {
  -ms-transform: scale(.9);
      transform: scale(.9);

  -webkit-transform: scale(.9);
}

.move10 {
  animation: move 17s linear 2s infinite normal;

  -webkit-animation: move 17s linear 2s infinite normal;
}

.pos10 {
  left: 20%;
}

.scale10 {
  -ms-transform: scale(1);
      transform: scale(1);

  -webkit-transform: scale(1);
}

.move11 {
  animation: move 17.2s linear 2.2s infinite normal;

  -webkit-animation: move 17.2s linear 2.2s infinite normal;
}

.pos11 {
  left: 22%;
}

.scale11 {
  -ms-transform: scale(1.1);
      transform: scale(1.1);

  -webkit-transform: scale(1.1);
}

.move12 {
  animation: move 17.4s linear 2.4s infinite normal;

  -webkit-animation: move 17.4s linear 2.4s infinite normal;
}

.pos12 {
  left: 24%;
}

.scale12 {
  -ms-transform: scale(1.2);
      transform: scale(1.2);

  -webkit-transform: scale(1.2);
}

.move13 {
  animation: move 17.6s linear 2.6s infinite normal;

  -webkit-animation: move 17.6s linear 2.6s infinite normal;
}

.pos13 {
  left: 26%;
}

.scale13 {
  -ms-transform: scale(1.3);
      transform: scale(1.3);

  -webkit-transform: scale(1.3);
}

.move14 {
  animation: move 17.8s linear 2.8s infinite normal;

  -webkit-animation: move 17.8s linear 2.8s infinite normal;
}

.pos14 {
  left: 28%;
}

.scale14 {
  -ms-transform: scale(1.4);
      transform: scale(1.4);

  -webkit-transform: scale(1.4);
}

.move15 {
  animation: move 18s linear 3s infinite normal;

  -webkit-animation: move 18s linear 3s infinite normal;
}

.pos15 {
  left: 30%;
}

.scale15 {
  -ms-transform: scale(1.5);
      transform: scale(1.5);

  -webkit-transform: scale(1.5);
}

.move16 {
  animation: move 18.2s linear 3.2s infinite normal;

  -webkit-animation: move 18.2s linear 3.2s infinite normal;
}

.pos16 {
  left: 32%;
}

.scale16 {
  -ms-transform: scale(1.6);
      transform: scale(1.6);

  -webkit-transform: scale(1.6);
}

.move17 {
  animation: move 18.4s linear 3.4s infinite normal;

  -webkit-animation: move 18.4s linear 3.4s infinite normal;
}

.pos17 {
  left: 34%;
}

.scale17 {
  -ms-transform: scale(1.7);
      transform: scale(1.7);

  -webkit-transform: scale(1.7);
}

.move18 {
  animation: move 18.6s linear 3.6s infinite normal;

  -webkit-animation: move 18.6s linear 3.6s infinite normal;
}

.pos18 {
  left: 36%;
}

.scale18 {
  -ms-transform: scale(1.8);
      transform: scale(1.8);

  -webkit-transform: scale(1.8);
}

.move19 {
  animation: move 18.8s linear 3.8s infinite normal;

  -webkit-animation: move 18.8s linear 3.8s infinite normal;
}

.pos19 {
  left: 38%;
}

.scale19 {
  -ms-transform: scale(1.9);
      transform: scale(1.9);

  -webkit-transform: scale(1.9);
}

.move20 {
  animation: move 19s linear 4s infinite normal;

  -webkit-animation: move 19s linear 4s infinite normal;
}

.pos20 {
  left: 40%;
}

.scale20 {
  -ms-transform: scale(2);
      transform: scale(2);

  -webkit-transform: scale(2);
}

.move21 {
  animation: move 19.2s linear 4.2s infinite normal;

  -webkit-animation: move 19.2s linear 4.2s infinite normal;
}

.pos21 {
  left: 42%;
}

.scale21 {
  -ms-transform: scale(2.1);
      transform: scale(2.1);

  -webkit-transform: scale(2.1);
}

.move22 {
  animation: move 19.4s linear 4.4s infinite normal;

  -webkit-animation: move 19.4s linear 4.4s infinite normal;
}

.pos22 {
  left: 44%;
}

.scale22 {
  -ms-transform: scale(2.2);
      transform: scale(2.2);

  -webkit-transform: scale(2.2);
}

.move23 {
  animation: move 19.6s linear 4.6s infinite normal;

  -webkit-animation: move 19.6s linear 4.6s infinite normal;
}

.pos23 {
  left: 46%;
}

.scale23 {
  -ms-transform: scale(2.3);
      transform: scale(2.3);

  -webkit-transform: scale(2.3);
}

.move24 {
  animation: move 19.8s linear 4.8s infinite normal;

  -webkit-animation: move 19.8s linear 4.8s infinite normal;
}

.pos24 {
  left: 48%;
}

.scale24 {
  -ms-transform: scale(2.4);
      transform: scale(2.4);

  -webkit-transform: scale(2.4);
}

.move25 {
  animation: move 20s linear 5s infinite normal;

  -webkit-animation: move 20s linear 5s infinite normal;
}

.pos25 {
  left: 50%;
}

.scale25 {
  -ms-transform: scale(2.5);
      transform: scale(2.5);

  -webkit-transform: scale(2.5);
}

.move26 {
  animation: move 20.2s linear 5.2s infinite normal;

  -webkit-animation: move 20.2s linear 5.2s infinite normal;
}

.pos26 {
  left: 52%;
}

.scale26 {
  -ms-transform: scale(2.6);
      transform: scale(2.6);

  -webkit-transform: scale(2.6);
}

.move27 {
  animation: move 20.4s linear 5.4s infinite normal;

  -webkit-animation: move 20.4s linear 5.4s infinite normal;
}

.pos27 {
  left: 54%;
}

.scale27 {
  -ms-transform: scale(2.7);
      transform: scale(2.7);

  -webkit-transform: scale(2.7);
}

.move28 {
  animation: move 20.6s linear 5.6s infinite normal;

  -webkit-animation: move 20.6s linear 5.6s infinite normal;
}

.pos28 {
  left: 56%;
}

.scale28 {
  -ms-transform: scale(2.8);
      transform: scale(2.8);

  -webkit-transform: scale(2.8);
}

.move29 {
  animation: move 20.8s linear 5.8s infinite normal;

  -webkit-animation: move 20.8s linear 5.8s infinite normal;
}

.pos29 {
  left: 58%;
}

.scale29 {
  -ms-transform: scale(2.9);
      transform: scale(2.9);

  -webkit-transform: scale(2.9);
}

.move30 {
  animation: move 21s linear 6s infinite normal;

  -webkit-animation: move 21s linear 6s infinite normal;
}

.pos30 {
  left: 60%;
}

.scale30 {
  -ms-transform: scale(3);
      transform: scale(3);

  -webkit-transform: scale(3);
}

.move31 {
  animation: move 21.2s linear 6.2s infinite normal;

  -webkit-animation: move 21.2s linear 6.2s infinite normal;
}

.pos31 {
  left: 62%;
}

.scale31 {
  -ms-transform: scale(3.1);
      transform: scale(3.1);

  -webkit-transform: scale(3.1);
}

.move32 {
  animation: move 21.4s linear 6.4s infinite normal;

  -webkit-animation: move 21.4s linear 6.4s infinite normal;
}

.pos32 {
  left: 64%;
}

.scale32 {
  -ms-transform: scale(3.2);
      transform: scale(3.2);

  -webkit-transform: scale(3.2);
}

.move33 {
  animation: move 21.6s linear 6.6s infinite normal;

  -webkit-animation: move 21.6s linear 6.6s infinite normal;
}

.pos33 {
  left: 66%;
}

.scale33 {
  -ms-transform: scale(3.3);
      transform: scale(3.3);

  -webkit-transform: scale(3.3);
}

.move34 {
  animation: move 21.8s linear 6.8s infinite normal;

  -webkit-animation: move 21.8s linear 6.8s infinite normal;
}

.pos34 {
  left: 68%;
}

.scale34 {
  -ms-transform: scale(3.4);
      transform: scale(3.4);

  -webkit-transform: scale(3.4);
}

.move35 {
  animation: move 22s linear 7s infinite normal;

  -webkit-animation: move 22s linear 7s infinite normal;
}

.pos35 {
  left: 70%;
}

.scale35 {
  -ms-transform: scale(3.5);
      transform: scale(3.5);

  -webkit-transform: scale(3.5);
}

.move36 {
  animation: move 22.2s linear 7.2s infinite normal;

  -webkit-animation: move 22.2s linear 7.2s infinite normal;
}

.pos36 {
  left: 72%;
}

.scale36 {
  -ms-transform: scale(3.6);
      transform: scale(3.6);

  -webkit-transform: scale(3.6);
}

.move37 {
  animation: move 22.4s linear 7.4s infinite normal;

  -webkit-animation: move 22.4s linear 7.4s infinite normal;
}

.pos37 {
  left: 74%;
}

.scale37 {
  -ms-transform: scale(3.7);
      transform: scale(3.7);

  -webkit-transform: scale(3.7);
}

.move38 {
  animation: move 22.6s linear 7.6s infinite normal;

  -webkit-animation: move 22.6s linear 7.6s infinite normal;
}

.pos38 {
  left: 76%;
}

.scale38 {
  -ms-transform: scale(3.8);
      transform: scale(3.8);

  -webkit-transform: scale(3.8);
}

.move39 {
  animation: move 22.8s linear 7.8s infinite normal;

  -webkit-animation: move 22.8s linear 7.8s infinite normal;
}

.pos39 {
  left: 78%;
}

.scale39 {
  -ms-transform: scale(3.9);
      transform: scale(3.9);

  -webkit-transform: scale(3.9);
}

.move40 {
  animation: move 23s linear 8s infinite normal;

  -webkit-animation: move 23s linear 8s infinite normal;
}

.pos40 {
  left: 80%;
}

.scale40 {
  -ms-transform: scale(4);
      transform: scale(4);

  -webkit-transform: scale(4);
}

.move41 {
  animation: move 23.2s linear 8.2s infinite normal;

  -webkit-animation: move 23.2s linear 8.2s infinite normal;
}

.pos41 {
  left: 82%;
}

.scale41 {
  -ms-transform: scale(4.1);
      transform: scale(4.1);

  -webkit-transform: scale(4.1);
}

.move42 {
  animation: move 23.4s linear 8.4s infinite normal;

  -webkit-animation: move 23.4s linear 8.4s infinite normal;
}

.pos42 {
  left: 84%;
}

.scale42 {
  -ms-transform: scale(4.2);
      transform: scale(4.2);

  -webkit-transform: scale(4.2);
}

.move43 {
  animation: move 23.6s linear 8.6s infinite normal;

  -webkit-animation: move 23.6s linear 8.6s infinite normal;
}

.pos43 {
  left: 86%;
}

.scale43 {
  -ms-transform: scale(4.3);
      transform: scale(4.3);

  -webkit-transform: scale(4.3);
}

.move44 {
  animation: move 23.8s linear 8.8s infinite normal;

  -webkit-animation: move 23.8s linear 8.8s infinite normal;
}

.pos44 {
  left: 88%;
}

.scale44 {
  -ms-transform: scale(4.4);
      transform: scale(4.4);

  -webkit-transform: scale(4.4);
}

.move45 {
  animation: move 24s linear 9s infinite normal;

  -webkit-animation: move 24s linear 9s infinite normal;
}

.pos45 {
  left: 90%;
}

.scale45 {
  -ms-transform: scale(4.5);
      transform: scale(4.5);

  -webkit-transform: scale(4.5);
}

.move46 {
  animation: move 24.2s linear 9.2s infinite normal;

  -webkit-animation: move 24.2s linear 9.2s infinite normal;
}

.pos46 {
  left: 92%;
}

.scale46 {
  -ms-transform: scale(4.6);
      transform: scale(4.6);

  -webkit-transform: scale(4.6);
}

.move47 {
  animation: move 24.4s linear 9.4s infinite normal;

  -webkit-animation: move 24.4s linear 9.4s infinite normal;
}

.pos47 {
  left: 94%;
}

.scale47 {
  -ms-transform: scale(4.7);
      transform: scale(4.7);

  -webkit-transform: scale(4.7);
}

.move48 {
  animation: move 24.6s linear 9.6s infinite normal;

  -webkit-animation: move 24.6s linear 9.6s infinite normal;
}

.pos48 {
  left: 96%;
}

.scale48 {
  -ms-transform: scale(4.8);
      transform: scale(4.8);

  -webkit-transform: scale(4.8);
}

.move49 {
  animation: move 24.8s linear 9.8s infinite normal;

  -webkit-animation: move 24.8s linear 9.8s infinite normal;
}

.pos49 {
  left: 98%;
}

.scale49 {
  -ms-transform: scale(4.9);
      transform: scale(4.9);

  -webkit-transform: scale(4.9);
}

.move50 {
  animation: move 25s linear 10s infinite normal;

  -webkit-animation: move 25s linear 10s infinite normal;
}

.pos50 {
  left: 100%;
}

.scale50 {
  -ms-transform: scale(5);
      transform: scale(5);

  -webkit-transform: scale(5);
}

@keyframes move {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;

    -webkit-transform: translateY(-2000px);
  }
}

@media screen and (min-width: 48.0625em) {
  body {
    width: 100%;
    max-width: 100%;
    min-width: 1180px;
  }
  .sp {
    display: none;
  }
  .header {
    position: relative;
    z-index: 1;
  }
  .header .logo {
    position: absolute;
    top: 18px;
    left: 18px;
    width: 241px;
  }
  .header .menuArea {
    position: absolute;
    top: 22px;
    right: 20px;
  }
  .header .menuArea .menuList {
    width: 460px;
    letter-spacing: -.4em;
    text-align: right;
  }
  .header .menuArea .menuList li {
    display: inline-block;
    position: relative;
    margin-left: 8px;
    vertical-align: top;
    color: #003085;
    font-weight: 500;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    letter-spacing: normal;
    letter-spacing: .1em;
  }
  .header .menuArea .menuList li:first-child {
    margin-left: 0;
  }
  .header .menuArea .menuList li:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 0;
    height: 2px;
    margin: auto;
    background: #000;
    transition: .3s;

    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
  }
  .header .menuArea .menuList li:hover:before {
    right: auto;
    left: 0;
    width: 100%;
  }
  .header .menuArea .menuList li a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .sns {
    position: fixed;
    top: 50%;
    right: 10px;
    z-index: 1;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .sns .cap {
    margin-bottom: 15px;
  }
  .sns .list li {
    position: relative;
    margin-bottom: 10px;
    transition: .3s;

    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
  }
  .sns .list li:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    opacity: .7;
  }
  .sns .list li img {
    border-radius: 50px;
  }
  .sns .list li:last-child {
    margin-bottom: 0;
  }
  .contents {
    position: relative;
    overflow: hidden;
  }
  .pageTop {
    position: absolute;
    right: 82px;
    bottom: 20px;
    z-index: 1;
    width: 40px;
    cursor: pointer;
    transition: .3s;

    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
  }
  .pageTop:hover {
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .footer {
    position: relative;
    padding: 90px 0;
    background: url("../img/common/pc/bg_footer.png") top center no-repeat;
    background-size: 150% auto;
  }
  .footer .ft_bnr {
    margin-bottom: 54px;
  }
  .footer .ft_bnr .list {
    position: relative;
    width: 740px;
    margin: 0 auto -10px;
    letter-spacing: -.4em;
    text-align: center;
  }
  .footer .ft_bnr .list li {
    display: inline-block;
    position: relative;
    width: 240px;
    margin-bottom: 10px;
    margin-left: 10px;
    vertical-align: top;
    letter-spacing: normal;
    transition: .3s;

    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
  }
  .footer .ft_bnr .list li:nth-child(3n+1) {
    margin-left: 0;
  }
  .footer .ft_bnr .list li:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    opacity: .7;
  }
  .footer .anxLisk {
    margin-bottom: 13px;
  }
  .footer .anxLisk .list {
    letter-spacing: -.4em;
    text-align: center;
  }
  .footer .anxLisk .list li {
    display: inline-block;
    position: relative;
    margin: 0 12px;
    vertical-align: top;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: normal;
    letter-spacing: .025em;
  }
  .footer .anxLisk .list li a {
    color: #fff;
    text-decoration: none;
  }
  .footer .anxLisk .list li a:hover {
    text-decoration: underline;
  }
  .footer .attention {
    margin-bottom: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: .025em;
    text-align: center;
  }
  .footer .copy {
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: .025em;
    text-align: center;
  }
}

@media screen and (max-width: 48em) {
  body {
    width: 100%;
    max-width: 100%;
    min-width: 320px;
  }
  .pc {
    display: none;
  }
  .menuOverlay {
    display: none;
    position: fixed;
    top: 60px;
    right: 0;
    bottom: -10px;
    left: 0;
    z-index: 100;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    background-color: #fff;
    backface-visibility: hidden;

    -webkit-backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .menuOverlay .menu_container {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .menuOverlay .menu_container .menu {
    position: relative;
    margin: 0 auto;
    padding: 0 0 100px;
  }
  .menuOverlay .menu_container .menu::after {
    content: "";
    display: table;
    clear: both;
  }
  .menuOverlay .menu_container .menu .menuArea {
    margin-bottom: 20px;
  }
  .menuOverlay .menu_container .menu .menuArea .menuList li {
    position: relative;
    padding: 14px 0 17px;
    overflow: hidden;
    color: #003085;
    font-weight: 500;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    letter-spacing: .1em;
    text-align: center;
  }
  .menuOverlay .menu_container .menu .menuArea .menuList li:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: url("../img/common/sp/line_menu.png") top center no-repeat;
    background-size: 100% auto;
  }
  .menuOverlay .menu_container .menu .menuArea .menuList li a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .menuOverlay .menu_container .menu .sns .cap {
    margin-bottom: 15px;
    color: #003085;
    font-size: 12px;
    font-family: "Oswald", sans-serif;
    letter-spacing: .1em;
    text-align: center;
  }
  .menuOverlay .menu_container .menu .sns .list {
    letter-spacing: -.4em;
    text-align: center;
  }
  .menuOverlay .menu_container .menu .sns .list li {
    display: inline-block;
    position: relative;
    width: 26px;
    margin: 0 20px;
    margin-bottom: 10px;
    vertical-align: top;
    letter-spacing: normal;
  }
  .sp_header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 10px 0;
    background: url("../img/common/sp/bg_header.gif") bottom center no-repeat;
    background-size: cover;
  }
  .sp_header .spLogo {
    width: 150px;
    margin: 0 auto;
  }
  .sp_header .menuBtn {
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 43px;
  }
  .sp_header .menuBtn:before {
    content: "";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/common/sp/btn_close.png") top center no-repeat;
    background-size: 100% auto;
  }
  .sp_header .menuBtn.nowOpen img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
  }
  .sp_header .menuBtn.nowOpen::before {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
  }
  .contents {
    position: relative;
    padding-top: 60px;
  }
  .pageTop {
    position: absolute;
    right: 10px;
    bottom: 20px;
    z-index: 1;
    width: 76px;
    width: 10%;
    cursor: pointer;
  }
  .footer {
    position: relative;
    padding: 50px 0;
    background: url("../img/common/sp/bg_footer_sp.png") top center no-repeat;
    background-size: cover;
  }
  .footer .ft_bnr {
    margin-bottom: 30px;
  }
  .footer .ft_bnr .list {
    position: relative;
    width: 644px;
    width: 85%;
    margin: 0 auto;
    letter-spacing: -.4em;
    text-align: center;
  }
  .footer .ft_bnr .list li {
    display: inline-block;
    position: relative;
    width: 48.4%;
    margin-bottom: 10px;
    margin-left: 2.6%;
    vertical-align: top;
    letter-spacing: normal;
  }
  .footer .ft_bnr .list li:nth-child(2n+1) {
    margin-left: 0;
  }
  .footer .anxLisk {
    width: 644px;
    width: 85%;
    margin: 0 auto 10px;
  }
  .footer .anxLisk .list {
    letter-spacing: -.4em;
    text-align: center;
  }
  .footer .anxLisk .list li {
    display: inline-block;
    position: relative;
    margin: 0 10px 10px;
    vertical-align: top;
    font-size: 11px;
    line-height: 1.8em;
    letter-spacing: normal;
    letter-spacing: .025em;
  }
  .footer .anxLisk .list li a {
    color: #fff;
    text-decoration: none;
  }
  .footer .attention {
    width: 644px;
    width: 85%;
    margin: 0 auto 20px;
    color: #fff;
    font-size: 11px;
    line-height: 1.8em;
    letter-spacing: .025em;
    text-align: center;
  }
  .footer .copy {
    width: 644px;
    width: 85%;
    margin: 0 auto;
    color: #fff;
    font-size: 11px;
    line-height: 1.8em;
    letter-spacing: .025em;
    text-align: center;
  }
}
